{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <h1>Car Catalogue</h1>

    {% if cars.count == 0 %}
        <p class="no-articles">No cars yet.</p>
    {% else %}
        <h2>Total cars: {{ cars.count }}</h2>

        <!-- Loop through the list of cars -->
        {% for car in cars %}
            <div class="car-card">
                <div class="image-wrap">
                    <!-- Car image -->
                    <img src="{{ car.image_url }}" alt="{{ car.type }} image" />
                </div>
                <!-- Car type -->
                <h3>{{ car.type }}</h3>
                <!-- Car model -->
                <h4>{{ car.model }}</h4>  <!-- Changed <h1> to <h4> for better semantics -->
                <div class="details-buttons">
                    <!-- Car details button -->
                    <a href="{% url 'car-details' car.pk %}" class="details-btn">Details</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}