{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    {% if not recipes %}
        <p class="no-articles">There are currently no recipes available.</p>
    {% else %}
        <section id="catalogue">
            <!-- Loop through each recipe -->
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <div class="image-wrap">
                        <!-- Recipe image -->
                        {% if recipe.image_url %}
                            <img
                                class="recipe-img"
                                src="{{ recipe.image_url }}"
                                alt="recipe image"
                            />
                        {% else %}
                            <img
                                class="recipe-img"
                                src="https://cdn.pixabay.com/photo/2016/12/27/21/22/salad-1934944_1280.jpg"
                                alt="recipe image"
                            />
                        {% endif %}
                    </div>
                    <!-- Recipe title -->
                    <h3>{{ recipe.title }}</h3>
                    <!-- Recipe cooking time -->
                    <h4>Cooking Time: {{ recipe.cooking_time }} minutes</h4>
                    <!-- Recipe instructions -->
                    <p>Instructions: {{ recipe.instructions }}</p>
                    <div class="details-buttons">
                        <!-- Recipe details button -->
                        <a href="{% url 'details-recipe' recipe.pk %}" class="details-btn">Details</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}