{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <!-- details section -->
    <section id="car-details">
        <h1>Car Details</h1>
        <div class="info-section">
            <div class="car-header">
                <!-- car image -->
                <img
                        class="car-img"
                        src="{{ cars.image_url }}"
                        alt="car image"
                />
                <!-- car type -->
                <h1>{{ cars.type }}</h1>
                <!-- car model -->
                <p><span class="description">Model: {{ cars.model }}</span></p>
                <!-- car year -->
                <p><span class="description">Year: {{ cars.year }}</span></p>
                <!-- car price -->
                <p><span class="description">Price: {{ cars.price }}</span></p>
            </div>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'car-edit' cars.pk %}" class="edit-button">Edit</a>
                <a href="{% url 'car-delete' cars.pk %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>

    <!-- footer -->
{% endblock %}
