{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <!-- Author's Profile Details Section -->

    <section id="details">
        <div id="details-wrapper">
            <h2>Author's Profile Details</h2>
            {% if author.image_url %}
                <!-- If the author has provided a profile image link -->
                <img
                        id="details-img"
                        src="{{ author.image_url }}"
                        alt="{{ author.first_name }}'s profile image"
                />
            {% else %}
                <!-- If the author has NO profile image link -->
                <img
                        id="details-img"
                        src="{% static 'images/default.png' %}"
                        alt="Default profile image"
                />
            {% endif %}
            <!-- author's full name -->
            <p id="details-title">{{ author }}</p>

            <!-- number of posts -->
            <p id="nutrition">Published Posts: {{ num_posts }}</p>

            <div id="info-wrapper">
                <div id="details-description">
                    <!-- pets number -->
                    <p>Pets Number: {{ author.pets_number }}</p>

                    <!-- info if provided, otherwise skip the line -->
                    {% if author.info %}
                        <p>{{ author.info }}</p>
                    {% endif %}

                    <!-- Latest activity -->
                    <p>-------------------------------</p>
                    <!-- latest activity if there are posts: display the title of the last updated post -->
                    <!-- latest activity if there are NO posts -->
                    <p>
                        Last Updated Post:
                        <strong>
                            {% if last_updated_post %}
                                {{ last_updated_post.title }}
                            {% else %}
                                N/A
                            {% endif %}
                        </strong>
                    </p>
                </div>

                <!--Edit and Delete buttons -->
                <div id="action-buttons">
                    <a href="{% url 'edit-author' %}" id="edit-btn">Edit</a>
                    <a href="{% url 'delete-author' %}" id="delete-btn">Delete</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
